<div class="jumbotron about">
  <div class="container">
    <h1>Want to Learn About Sharks?</h1>
    <p>Are you ready to learn about sharks?</p>
    <br>
    <p>
      <%= button_to 'Get Shark Info', sharks_path, :method => :get,  :class => "btn btn-primary btn-lg"%>
    </p>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col">
        <h3 class="mt-5">Not all sharks are alike</h3>
        <p>Though some are dangerous, sharks generally do not attack humans. Out of the 500 species known to researchers, only 30 have been known to attack humans.
        </p>
    </div>
    <div class="col">
        <img src="https://images.unsplash.com/photo-1560275619-5a040af74ede?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=967&q=80" alt="Sharks" height="300" width="400"></div>
    <div class="w-100"></div>
    <br>
    <br>
    <div class="col">
    <img src="https://images.unsplash.com/photo-1574112594173-37dd4913fc26?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1008&q=80" alt="Sharks" height="300" width="400">
    </div>
    <div class="col">
    <h3 class="mt-5">Sharks are ancient</h3>
      <p>There is evidence to suggest that sharks lived up to 400 million years ago.
      </p>
    </div>
  </div>
</div>
